@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    @* <link rel="stylesheet" href="~/css/auth.css" /> *@
</head>
<body>
    <div class="auth-container">
        <h2>Register</h2>
        <form method="post" asp-controller="Auth" asp-action="Register" onsubmit="return validatePasswords()">
            <div>
                <label>Name</label>
                <input type="text" name="Name" class="form-check form-control" placeholder="Enter Your Name" required />
            </div>

            <div>
                <label>Email</label>
                <input type="email" name="Email" class="form-check form-control" placeholder="Enter Your Email" required />
            </div>

            <div>
                <label>Password</label>
                <input type="password" id="password" name="HashedPassword" class="form-check form-control" placeholder="Enter Password" required />
            </div>

            <div>
                <label>Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-check form-control" placeholder="Confirm Password" required />
            </div>

            <div>
                <label>Address</label>
                <input type="text" name="Address" class="form-check form-control" placeholder="Enter Address" required />
            </div>

            <div>
                <label>Phone</label>
                <input type="text" name="Phone" class="form-check form-control" placeholder="Enter Phone Number" required />
            </div>

            <input type="hidden" name="Role" value="User" />

            <input type="submit" value="Save Changes" class="btn btn-success" />
        </form>
        <p>Already have an account? <a href="/Auth/Login">Login</a></p>
    </div>
</body>
</html>
